html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body.light-theme {
    height: 100%;
    margin: 0;
    background: linear-gradient(45deg, #a3c3f8 0%, #166ff3 100%);
    color: #333;
    overflow: hidden;
}

body.dark-theme {
    height: 100%;
    margin: 0;
    background: linear-gradient(45deg, #15233d 0%, #051c56 100%);
    color: #fff;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: inherit; 
    transition: background-color 0.3s ease;
}

.sun {
    position: absolute;
    background-color: #EB6E4B;
    top: 15%;
    right: 25%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    animation: sun 20s ease-in-out infinite;
}

.cloud {
    position: absolute;
}

.cloud1 {
    top: 2rem;
    left: 100rem;
    width: 180px;
    animation: cloud 100s linear infinite;
}

.cloud2 {
    top: 15rem;
    left: 0;
    width: 220px;
    animation: cloud 50s linear infinite;
}

.cloud3 {
    top: 18rem;
    left: 5rem;
    width: 225px;
    animation: cloud 50s linear infinite;
}

.cloud4 {
    bottom: 5rem;
    left: 50rem;
    width: 250px;
    animation: cloud 300s linear infinite;
}

.cloud5 {
    bottom: 1rem;
    left: 60rem;
    width: 180px;
    animation: cloud 60s linear infinite;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background: rgba(235, 235, 235, .5);
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    backdrop-filter: blur(5px)
}

.search {
    display: flex;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 7px;
}

.search input {
    background-color: transparent;
    color: black;
    border: none;
    padding: 5px;
    outline: none;
}

.search button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 1px;
    align-self: center;
}

.meteo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meteo img {
    width: 100px;
    height: 100px;
}

.temp {
    font-size: 40px;
    font-weight: bold;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

h2 {
    font-size: 15px;
    font-weight: 500;
}

.humidity {
    font-size: 15px;
    font-weight: bold;
}

.wind_speed {
    font-size: 15px;
    font-weight: bold;
}


@keyframes sun {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(40px, 20px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes cloud {
    0% { 
        transform: translateX(-100vw); 
    }
    100% { 
        transform: translateX(100vw); 
    }
}